@font-face {
    font-family: "NanumBarunGothic";
    font-display: fallback;
  
    /* 
    src: 사용할 폰트의 위치 및 형식 
       Safari, Android, iOS => ttf
       Modern Browsers => woff
       IE6-IE8 => eot
    */
    src: url("./NanumBarunGothic.ttf") format("truetype"), url("./NanumBarunGothic.woff")
        format("woff"), url("./NanumBarunGothic.eot?iefix") format("embedded-opentype");
  
    /* 사용할 폰트의 기본 스타일 */
    /* font-weight: 400; */
    /* font-style: normal; */
  }